<article class="cel js-tax-{{tax_slug}}">
    <div class="tax-name">
        <input class="checkbox-control js-select-all-terms" id="all-terms-{{tax_slug}}" type="checkbox">
        <label class="field-label" for="all-terms-{{tax_slug}}">{{tax_label}}</label>
    </div>
    <div class="terms-inner js-term-sortable">
    {{#if isTerms}}
        {{#each terms}}
            <div class="term-item"
                 data-term-id="{{term_id}}"
                 data-term-slug="{{slug}}"
                 data-term-name-orig="{{name}}"
                 data-term-name="{{name}}"
                 data-term-background
                 data-term-color
                 data-term-class
                 data-term-default
                 data-term-visible
                 data-term-checked
                 data-term-status
                 data-term-icon-class
                 data-term-icon-alignment
                 data-term-icon-color
                 data-term-icon-url>
                <i class="fa-solid fa-up-down-left-right icon-is-drag js-term-handle"></i>
                <input class="checkbox-control js-tax-checkbox" id="tax-{{term_id}}" type="checkbox" name="ymc_fg_terms[]" value="{{term_id}}">
                <label class="field-label" for="tax-{{term_id}}">{{name}} <span class="count">[{{count}}]</span></label>
                <i class="fa-solid fa-ellipsis-vertical icon-is-settings js-term-settings"></i>
            </div>
        {{/each}}
    {{else}}
        <div class="notification notification--warning">{{no_terms}}</div>
    {{/if}}
    </div>
</article>











