{{#if isTax}}
    {{#each taxonomies}}
        <div class="taxonomies-list__item"
             data-tax-original-name="{{this}}"
             data-tax-name="{{@key}}"
             data-tax-label="{{this}}"
             data-tax-color
             data-tax-bg
             data-tax-status>
            <i class="fa-solid fa-up-down-left-right icon-is-drag js-tax-handle"></i>
            <input class="checkbox-control js-tax-checkbox" id="{{@key}}" data-label="{{this}}" type="checkbox" name="ymc_fg_taxonomies[]" value="{{@key}}">
            <label class="field-label" for="{{@key}}">{{this}}</label>
            <i class="fa-solid fa-ellipsis-vertical icon-is-settings js-tax-settings"></i>
        </div>
    {{/each}}
{{else}}
      <div class="notification notification--warning">No taxonomies found.</div>
{{/if}}


